# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
virtualenv/
env/

# Poetry
.poetry/
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store 